.dialog {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  transition: opacity 0.2s;
}

.dialog.active {
  opacity: 1;
}

.dialog-content {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 340px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 5px 10px 1px rgba(100, 100, 100, 0.2);
  text-align: center;
  transform: translate(-50%, -50%);
}

.dialog-message {
  padding: 40px 30px;
  background-color: #fafafa;
  color: #666;
  font-size: 18px;
  word-break: break-word;
  white-space: pre-wrap;
}

.dialog-button-wrap {
  display: flex;
  flex-direction: row;
}

.dialog-button-ok,
.dialog-button-cancel {
  display: block;
  flex: 1;
  padding: 20px 5px;
  border: 0;
  outline: 0;
  background-color: #fff;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dialog-button-ok {
  color: #333;
}

.dialog-button-cancel {
  color: #aaa;
}

.dialog-button-ok:hover,
.dialog-button-cancel:hover {
  background-color: #fefefe;
}
