.dialog {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  transition: opacity 0.2s;
}

.dialog.active {
  opacity: 1;
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  max-width: 90%;
  padding: 35px 30px 30px 35px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 6px 3px rgba(100, 100, 100, 0.2);
  transform: translate(-50%, -50%);
}

.dialog-message {
  margin-bottom: 35px;
  color: #666;
  font-size: 18px;
  word-break: break-word;
}

.dialog-button-wrap {
  text-align: right;
}

.dialog-button-wrap > button + button {
  margin-left: 10px;
}

.dialog-button-ok,
.dialog-button-cancel {
  display: inline-block;
  min-width: 75px;
  padding: 10px 12px;
  border-radius: 2px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dialog-button-ok {
  border: 0;
  background-color: #62a5f7;
  color: #fff;
}

.dialog-button-cancel {
  background-color: #eee;
  color: #aaa;
}

.dialog-button-ok:active,
.dialog-button-cancel:active {
  box-shadow: none;
}
